extends ../../layouts/default.pug 

block main 
    h1 HOME 

    form(
        action=""
        form-search 
        method="post"
    ) 
        .d-flex.align-items-start 
            .form-group 
                select(name="area" select-area class="form-control") 
                    option(value="") -Chọn địa điểm- 
                    option(value="Hà Nội") Hà Nội 
                    option(value="Đà Nẵng") Đà Nẵng  
                    option(value="Hồ Chí Minh") Thành phố Hồ Chí Minh 

            .form-group   
                select(
                    name="salary"
                    select-salary
                    class="form-control"
                ) 
                    option(value="") -Chọn mức lương-
                    option(value="500-1000") Mức lương 500$-1000$
                    option(value="0-499") Mức lương dưới 500$

            button(
                class="btn btn-danger"
                type="submit"
            ) Tìm kiếm 
